@model int
@{
    ViewData["Title"] = "Map";
}
<head>
</head>
<body onload="GetPlayerPosition(@Model)">
    <div id="left" class="container">
        <div id="playerInfoCard" class="card">
            <div class="card-body">
            </div>
        </div>

        <div class="btn-group dropright" id="inventory">

        </div>
        <div id="itemInfo" class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div id="main" class="container" >
        <div id="battle" class="container">

        </div>
        <table id="myTable"></table>


        <button id="btnCentrate" type="button" class="btn btn-light" onclick="GetPlayerPosition(@Model);">
            Centrate map
        </button>
        <div class="spinner-border text-dark" role="status" id="mapTableLoading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="right" class="container">
        <div id="zoneInfo" class="card">
            <div class="card-body">
            </div>
        </div>
        <div id="monsterInfoCard" class="card">
            <div class="card-body">
            </div>
        </div>

    </div>
    <style>

        #left {
            position: fixed;
            top: 70px;
            left: 5px;
            width: 350px;
        }

        #right {
            position: fixed;
            top: 70px;
            right: 5px;
            width: 400px;
        }
    </style>
</body>
<script>
</script>