@model gameModel.User

@{
    ViewData["Title"] = "Login";
    string input_password = "";
    string input_login = "";
}

<h2>Login</h2>

<style>
    .alert {
        position: relative;
        background-color: tomato;
    }
</style>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    foreach (var error in ViewData.ModelState["Error"].Errors)
    {
        <div class="alert">
            <strong>Error! </strong>@error.ErrorMessage <br />
        </div>
    }
}
<hr />
<div class="row">
    <div class="col-md-2">

        <p>Enter login:</p>
        <p>Enter password:</p>

    </div>

    <div class="col-md-8">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                <div>
                    <input type="text" , asp-for="@input_login" required />
                </div>
                <div>
                    <input type="password" , asp-for="@input_password" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-outline-dark" />
                </div>
        </form>
        <form asp-action="Login">
            <input type="submit" value="Register" class="btn btn-outline-dark" asp-action="Register" />
        </form>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
